
<span class="hide" [class.hide]="!setrestultshowing">
  
<ion-header>
  <ion-toolbar color='blue'>
    <ion-title>Your Results</ion-title>
    <ion-buttons start>
      <button id="button-survey" ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Ok</span>
        <span ion-text color="white" showWhen="android,windows">Ok</span>
<!--        <ion-icon name="md-close" showWhen="android,windows"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
 <ion-list> 
<h2>Your Learning Style Index</h2>
<p class="nicegrey">There are four dimensions of Learning Styles. Active - Reflective, Sequential - Global, Sensing - Intuitive and Visual -  Verbal. Your Typ is: </p>
<ion-card >
  <ion-card-content>
    <ion-card-title class="blueheader">
      {{typAR}}
      </ion-card-title>
    <p>
     {{lerntyptextAR}}
    </p>
  </ion-card-content>
</ion-card>
<ion-card >
  <ion-card-content>
    <ion-card-title class="blueheader">
      {{typGS}}
      </ion-card-title>
    <p>
     {{lerntyptextGS}}
    </p>
  </ion-card-content>
</ion-card>
<ion-card >
  <ion-card-content>
    <ion-card-title class="blueheader">
      {{typSI}}
      </ion-card-title>
    <p>
     {{lerntyptextSI}}
    </p>
  </ion-card-content>
</ion-card>
<ion-card >
  <ion-card-content>
    <ion-card-title class="blueheader">
      {{typVV}}
      </ion-card-title>
    <p>
     {{lerntyptextVV}}
    </p>
  </ion-card-content>
</ion-card>
</ion-list>
  </ion-content>
</span>

<span class="hide" [class.hide]="setrestultshowing">
<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
     Questionnaire
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
<p>Any information you provide will, of course, be handled confidentially and evaluated anonymously.</p>
<h2>General Information (1/3)</h2>
<h4>{{question1}}</h4>
<ion-list no-lines [(ngModel)]="survey.frequentlyMensa" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
  <ion-item text-wrap>
    <ion-label>{{frequentlyMensa[1]}}</ion-label>
    <ion-radio mode="md" value="1"></ion-radio>
  </ion-item>
  <ion-item text-wrap>
    <ion-label>{{frequentlyMensa[2]}}</ion-label>
    <ion-radio mode="md" value="2"></ion-radio>
  </ion-item >
  <ion-item text-wrap>
    <ion-label>{{frequentlyMensa[3]}}</ion-label>
    <ion-radio mode="md" value="3"></ion-radio>
  </ion-item>
</ion-list>

<h2>Perceived Recommendation Quality (2/3)</h2>
<p>These questions are referring to the recommendations you received in this Application.</p>

<h4>{{question2}}</h4>
<ion-list no-lines [(ngModel)]="survey.prq_1" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
  <ion-row>
    <ion-item style="padding-left: 0px;">
    <span style="font-size: 0.9rem; float:left; padding-left: 1rem;">Strongly<br> Agree </span>
    <span style="font-size: 0.9rem;margin-left: 2.8rem; "  >Agree </span>
    <span style="font-size: 0.9rem; margin-left: 3rem;"  >Neutral </span>
    <span style="font-size: 0.9rem; margin-left: 2.5rem;"  >Disagree </span>
    <span style="font-size: 0.9rem; " class="float-right">Strongly<br>Disagree </span>
    </ion-item>
  </ion-row>
   <ion-row nowrap>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=1 ></ion-radio>
    </ion-item>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=2 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=3 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=4 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 2rem" value=5 ></ion-radio>
    </ion-item>   
  </ion-row>

</ion-list>

<h4>{{question3}}</h4>
<ion-list no-lines [(ngModel)]="survey.prq_2" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
    <ion-row>
    <ion-item style="padding-left: 0px;">
    <span style="font-size: 0.9rem; float:left; padding-left: 1rem;">Strongly<br> Agree </span>
    <span style="font-size: 0.9rem;margin-left: 2.8rem; "  >Agree </span>
    <span style="font-size: 0.9rem; margin-left: 3rem;"  >Neutral </span>
    <span style="font-size: 0.9rem; margin-left: 2.5rem;"  >Disagree </span>
    <span style="font-size: 0.9rem; " class="float-right">Strongly<br>Disagree </span>
    </ion-item>
  </ion-row>
   <ion-row nowrap>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=1 ></ion-radio>
    </ion-item>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=2 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=3 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=4 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 2rem" value=5 ></ion-radio>
    </ion-item>   
  </ion-row>

</ion-list>

<h4>{{question4}}</h4>
<ion-list no-lines [(ngModel)]="survey.prq_3" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
    <ion-row>
    <ion-item style="padding-left: 0px;">
    <span style="font-size: 0.9rem; float:left; padding-left: 1rem;">Strongly<br> Agree </span>
    <span style="font-size: 0.9rem;margin-left: 2.8rem; "  >Agree </span>
    <span style="font-size: 0.9rem; margin-left: 3rem;"  >Neutral </span>
    <span style="font-size: 0.9rem; margin-left: 2.5rem;"  >Disagree </span>
    <span style="font-size: 0.9rem; " class="float-right">Strongly<br>Disagree </span>
    </ion-item>
  </ion-row>
   <ion-row nowrap>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=1 ></ion-radio>
    </ion-item>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=2 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=3 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=4 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 2rem" value=5 ></ion-radio>
    </ion-item>   
  </ion-row>

</ion-list>

<h4>{{question5}}</h4>
<ion-list  no-lines [(ngModel)]="survey.prq_4" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
    <ion-row>
    <ion-item style="padding-left: 0px;">
    <span style="font-size: 0.9rem; float:left; padding-left: 1rem;">Strongly<br> Agree </span>
    <span style="font-size: 0.9rem;margin-left: 2.8rem; "  >Agree </span>
    <span style="font-size: 0.9rem; margin-left: 3rem;"  >Neutral </span>
    <span style="font-size: 0.9rem; margin-left: 2.5rem;"  >Disagree </span>
    <span style="font-size: 0.9rem; " class="float-right">Strongly<br>Disagree </span>
    </ion-item>
  </ion-row>
   <ion-row nowrap>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=1 ></ion-radio>
    </ion-item>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=2 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=3 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=4 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 2rem" value=5 ></ion-radio>
    </ion-item>   
  </ion-row>

</ion-list>

<h4>{{question6}}</h4>
<ion-list no-lines [(ngModel)]="survey.prq_5" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
     <ion-row>
    <ion-item style="padding-left: 0px;">
    <span style="font-size: 0.9rem; float:left; padding-left: 1rem;">Strongly<br> Agree </span>
    <span style="font-size: 0.9rem;margin-left: 2.8rem; "  >Agree </span>
    <span style="font-size: 0.9rem; margin-left: 3rem;"  >Neutral </span>
    <span style="font-size: 0.9rem; margin-left: 2.5rem;"  >Disagree </span>
    <span style="font-size: 0.9rem; " class="float-right">Strongly<br>Disagree </span>
    </ion-item>
  </ion-row>
   <ion-row nowrap>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=1 ></ion-radio>
    </ion-item>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=2 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=3 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=4 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 2rem" value=5 ></ion-radio>
    </ion-item>   
  </ion-row>

</ion-list>

<h4>{{question7}}</h4>
<ion-list no-lines [(ngModel)]="survey.prq_6" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
   <ion-row>
    <ion-item style="padding-left: 0px;">
    <span style="font-size: 0.9rem; float:left; padding-left: 1rem;">Strongly<br> Agree </span>
    <span style="font-size: 0.9rem;margin-left: 2.8rem; "  >Agree </span>
    <span style="font-size: 0.9rem; margin-left: 3rem;"  >Neutral </span>
    <span style="font-size: 0.9rem; margin-left: 2.5rem;"  >Disagree </span>
    <span style="font-size: 0.9rem; " class="float-right">Strongly<br>Disagree </span>
    </ion-item>
  </ion-row>
   <ion-row nowrap>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=1 ></ion-radio>
    </ion-item>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=2 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=3 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=4 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 2rem" value=5 ></ion-radio>
    </ion-item>   
  </ion-row>

</ion-list>

<h4>{{question8}}</h4>
<ion-list no-lines [(ngModel)]="survey.prq_7" radio-group style="margin-top: 0px!important;margin-bottom:7rem!important">
    <ion-row>
    <ion-item style="padding-left: 0px;">
    <span style="font-size: 0.9rem; float:left; padding-left: 1rem;">Strongly<br> Agree </span>
    <span style="font-size: 0.9rem;margin-left: 2.8rem; "  >Agree </span>
    <span style="font-size: 0.9rem; margin-left: 3rem;"  >Neutral </span>
    <span style="font-size: 0.9rem; margin-left: 2.5rem;"  >Disagree </span>
    <span style="font-size: 0.9rem; " class="float-right">Strongly<br>Disagree </span>
    </ion-item>
  </ion-row>
   <ion-row nowrap>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=1 ></ion-radio>
    </ion-item>
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=2 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=3 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 4rem" value=4 ></ion-radio>
    </ion-item> 
    <ion-item >
      <ion-radio mode="md" style="margin-right: 2rem" value=5 ></ion-radio>
    </ion-item>   
  </ion-row>

</ion-list>


<h2>Learning Style Questionnaire (3/3)</h2>
<p>This Questionnaire will define your Learning Style by ILS. Finish all and we will send you your result! Please choose only one answer for each questions. If both seem to apply to you, choose the one that applies more frequently. </p>
<h4>{{question9}}</h4>
<ion-list radio-group no-lines [(ngModel)]="survey.lt_AR" style="margin-top: 0px!important; margin-bottom:5rem!important">
  <ion-item text-wrap>
    <ion-label >{{lts_1[1]}}</ion-label>
    <ion-radio mode="md" value="1"></ion-radio>
  </ion-item>
  <ion-item text-wrap>
    <ion-label>{{lts_1[2]}}</ion-label>
    <ion-radio mode="md" value="2"></ion-radio>
  </ion-item>
</ion-list>
<h4>{{question10}}</h4>
<ion-list radio-group no-lines [(ngModel)]="survey.lt_GS" style="margin-top: 0px!important; margin-bottom:5rem!important">
  <ion-item text-wrap>
    <ion-label>{{lts_2[1]}}</ion-label>
    <ion-radio mode="md" value="1"></ion-radio>
  </ion-item>
  <ion-item text-wrap>
    <ion-label>{{lts_2[2]}}</ion-label>
    <ion-radio mode="md" value="2"></ion-radio>
  </ion-item>
</ion-list>
<h4>{{question11}}</h4>
<ion-list radio-group no-lines [(ngModel)]="survey.lt_SI" style="margin-top: 0px!important; margin-bottom:5rem!important">
  <ion-item text-wrap>
    <ion-label>{{lts_3[1]}}</ion-label>
    <ion-radio mode="md" value="1"></ion-radio>
  </ion-item>
  <ion-item text-wrap>
    <ion-label>{{lts_3[2]}}</ion-label>
    <ion-radio mode="md" value="2"></ion-radio>
  </ion-item>
</ion-list>
<h4> {{question12}}</h4>
<ion-list radio-group no-lines [(ngModel)]="survey.lt_VV" style="margin-top: 0px!important; margin-bottom:5rem!important">
  <ion-item text-wrap>
    <ion-label>{{lts_4[1]}}</ion-label>
    <ion-radio mode="md" value="1"></ion-radio>
  </ion-item>
  <ion-item text-wrap>
    <ion-label>{{lts_4[2]}} </ion-label>
    <ion-radio mode="md" value="2"></ion-radio>
  </ion-item>
</ion-list>


<button ion-button (click)="sendSurvey()">Send Survey</button>
</ion-content>
</span>