page-modalsurvey {
    #button-survey{
         font-size: 1.5rem !important;
    }
    .float-right{
        float: right;
    }
   
    ion-list{
          margin-top: 6rem!important;
          margin-bottom: 0 !important;
        ion-row{
            .item-block{
              min-height: 3rem;
            }
        }
    }
    
          
    
    ion-content{
    .md .list-md {
            margin-bottom: 0px !important;

    .ion-item .radio-md {
        margin: 9px 43px 9px 0 !important;
    }

    .radio-left-margin{
        margin-left: 3rem;
    }
    ion-item{
        font-size: 0.9rem !important;
    }
    
    }
    h2{
        color: #039BE5 !important;
    }
        p .nicegrey{
        margin: 0 0 20rem 2rem;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
        }
        .blueheader{
            color: #039BE5 !important;
        }
    }
}

