page-enter {
    background-color: #03a9f4 !important;
    h1{
            margin-bottom: 5rem;
            color: #fff;
            text-align: center;
        
        }
        .md .list-md {
                margin-bottom: none !important;
        }
    
    
    img{
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.5rem;
            display: block;
        }
    .button-outline-md {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: transparent;
    box-shadow: none;
    }
    .button-outline-ios{
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: transparent;
    box-shadow: none;
    }
    .enter-buttons{
        text-align: center;
    }
}
