<ion-list>
 
    <img src="assets/icon/buddy-enter.png"/>
    <div class="enter-buttons"> 
      <button ion-button round outline color="white" (click)="goToHome()" >Let's Start</button> 
      <button ion-button icon-left round outline color="white" (click)="switch()" ><ion-icon name="ionitron"></ion-icon>Chatbot</button>
    </div>

</ion-list>
