.ios{
    page-recommendation {
        p{
            text-transform: capitalize;
           
        }
        ion-segment{
            margin-top: 1rem;
            width: 70% !important;
       }
       ion-label{
           text-transform: capitalize;
       }
       ion-card-title{
           float: left;
       }
       .info-fab{
           margin-right: 6.5rem;
       }

       .green-reco{
           background-color: #2ec95c;
           color: white;
       }
       .yellow-reco{
           background-color: #FFEB3B;
           color: grey;
       }
       .red-reco{
           background-color: #FE5C7B;
           color: white;
       }
       
       .recommendations-cards{
           visibility: hidden;
       }
        .black-text{
            text-transform: capitalize;
        }
        
        .card-content{
            padding-top: 10px;
        }
        .item-ios.item-block .item-inner {
            border-bottom: none;    
        }

        ion-card {
            position: relative;
            text-align: center;
        }
      
        .black-text{
            float: left;
        }
        .name{
            font-size: 1.6rem;
            color: #000;
        }
        .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
    }
}


 .md{
    page-recommendation {
        h2{
            color: white;
            font-weight: 500;
            font-size: 1.8rem;
        }
        p{
            text-transform: capitalize;
           
        }
        .info-fab{
           margin-right: 6.5rem ;
       }   
       
        ion-label{
           text-transform: capitalize;
       }
        ion-card-title{
           float: left;
           font-size: 2.0rem;
       }
      
        .card-content{
            padding-top: 10px;
        }
        
       .green-reco{
           background-color: #2ec95c;;
           color: white;
       }
       .yellow-reco{
           background-color: #FFEB3B;
           color: grey;
       }
       .red-reco{
           background-color: #FE5C7B;
           color: white;
       }
       .recommendations-cards{
           visibility: hidden;
       }
       .item-md.item-block .item-inner {
         border-bottom: none; 
        }
        ion-card {
            position: relative;
            text-align: center;
        }
      
        .black-text{
            float: left;

          
        }
        .name{
            font-size: 1.8rem;
            padding-top: 1rem;
            color: #000;
        }
        .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
        
    }
}

