<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
      MENSA BUDDY
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="switch()">
       <ion-icon name="ionitron" ></ion-icon>
          <ion-icon name="ios-arrow-forward"class="icon-margin"  ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

 <ion-card class="hide" [class.hide]="!ioncard">
    <img src="assets/mensa-closed.jpg"/>
    <div class="card-title">Mensa is closed</div>
    <div class="card-subtitle">Sorry, but the Mensa is not open.</div>
  </ion-card>

<div class="hide" [class.hide]="ioncard">


     <ion-row [ngSwitch]="mealtime" style="background-color: #039BE5; padding-top: 1rem; padding-bottom: 1rem;">
     
      <ion-col *ngSwitchCase="'lunch'" style="text-align: center; color: white; font-size: 1.7rem;" >
       Recommendation for Lunch
      </ion-col>  
      <ion-col *ngSwitchCase="'dinner'" style="text-align: center; color: white; font-size: 1.7rem;" >
       Recommendation for Dinner
      </ion-col>  
    
  </ion-row>

  <ion-segment [(ngModel)]="mealtime" > 
      <ion-segment-button value="lunch" (click)="changeMealTime(0)">
        Lunch
      </ion-segment-button>
      <ion-segment-button value="dinner" class="hide" [class.hide]="hideDinner" (click)="changeMealTime(1)">
        Dinner
      </ion-segment-button>
  </ion-segment>

  <ion-item [ngSwitch]="mealtime">
    <ion-label *ngSwitchCase="'dinner'">Lunch type</ion-label>
    <ion-label *ngSwitchCase="'lunch'">Dinner type</ion-label>

    <ion-select *ngSwitchCase="'dinner'" [(ngModel)]="user.menutypL" (ionChange)="changeMenuTypL()">
      <ion-option value="1">Light</ion-option>
      <ion-option value="2">Medium</ion-option>
      <ion-option value="3">Abundant</ion-option>
    </ion-select>

    <ion-select *ngSwitchCase="'lunch'" [(ngModel)]="user.menutypD" (ionChange)="changeMenuTypD()">
      <ion-option value="1">Light</ion-option>
      <ion-option value="2">Medium</ion-option>
      <ion-option value="3">Abundant</ion-option>
    </ion-select>

  </ion-item>

  <ion-item>
    <ion-label>Mensa Menu Size</ion-label>
    <ion-select [(ngModel)]="user.mealtyp" (ionChange)="changeMealTyp()">
      <ion-option  value="1">Primo Menu</ion-option>
      <ion-option  value="2">Secondo Menu</ion-option>
      <ion-option  value="3">Full Menu</ion-option>
    </ion-select>
  </ion-item>

<!--
  <ion-list radio-group mode="md" [(ngModel)]="recommendationDay">
  <ion-item>
    <ion-label>Today</ion-label>
    <ion-radio value="today" (ionSelect)="changedRecoDay('today')"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Tomorrow</ion-label>
    <ion-radio value="tomorrow" (ionSelect)="changedRecoDay('tomorrow')"></ion-radio>
  </ion-item>
 </ion-list>-->


<div text-center>
 <button ion-button outline class="margin-button"  (click)="recommend()">
         <div>Recommend me</div>
</button>
</div>
<ion-list class="hide" [class.hide]="!hideRecommendation">

  <ion-fab  right class="reco-fab" >
      <button ion-fab  mini color="turkise" (click)="showRecept(0)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab  right class="reco-fab info-fab" >
      <button ion-fab  mini color="darkest-blue" (click)="showInfo(0)"><ion-icon name="help"></ion-icon></button>
  </ion-fab>
<ion-card (click)="clickCard(0)">
  <ion-card-content>
  <ion-card-title > 
     Best Choice
  </ion-card-title>

      <ion-item>
          <ion-label text-wrap >
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits0 && fits0[0][0].img}}">
       
            <div class="black-text">
            <p class="name">{{fits0 && fits0[0][0].name}}</p>
            <p>Calories: {{fits0 && fits0[0][0].kcal}}g,  Carbs: {{fits0 && fits0[0][0].carbs}}g, Proteins: {{fits0 && fits0[0][0].proteins}}g, Fiber: {{fits0 && fits0[0][0].fiber}}g, Sugar: {{fits0 && fits0[0][0].sugars}}g, Salt: {{fits0 && fits0[0][0].salt}}g, Sfa: {{fits0 && fits0[0][0].saturated_fatty_acids}}g </p>
            </div>
            
          </ion-label>
      </ion-item>

      <ion-item>
          <ion-label text-wrap>
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits0 && fits0[0][1] && fits0[0][1].img}}">
            
            <div class=" black-text">
            <p class="name"> {{fits0 && fits0[0][1].name}}</p>
            <p>Calories: {{fits0 && fits0[0][1].kcal}}g, Carbs: {{fits0 && fits0[0][1].carbs}}g, Proteins: {{fits0 && fits0[0][1].proteins}}g, Fiber: {{fits0 && fits0[0][1].fiber}}g, Sugar: {{fits0 && fits0[0][1].sugars}}g, Salt: {{fits0 && fits0[0][1].salt}}g, Sfa: {{fits0 && fits0[0][1].saturated_fatty_acids}}g</p>
            </div>
           
          </ion-label>
      </ion-item>

      <span class="hide"  [class.hide]="!(+user.mealtyp == 3)">
      <ion-item >
          <ion-label text-wrap>
                 
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits0 && fits0[0][2] && fits0[0][2].img}}">
        
             <div class="black-text">
            <p class="name"> {{fits0 && fits0[0][2] && fits0[0][2].name}}</p>
            <p>Calories: {{fits0 && fits0[0][2] && fits0[0][2].kcal}}g, Carbs: {{fits0 && fits0[0][2] && fits0[0][2].carbs}}g, Proteins: {{fits0 && fits0[0][2] && fits0[0][2].proteins}}g, Fiber: {{fits0 && fits0[0][2] && fits0[0][2].fiber}}g, Sugar:{{fits0 && fits0[0][2] && fits0[0][2].sugars}}g, Salt: {{fits0 && fits0[0][2] && fits0[0][2].salt}}g, Sfa: {{fits0 && fits0[0][2] && fits0[0][2].saturated_fatty_acids}}g</p>
            </div>
           
          </ion-label>
      </ion-item>
      </span>

 </ion-card-content>
</ion-card>

<span  class="hide" [class.hide]="hide1">
  <ion-fab  right class="reco-fab" >
      <button ion-fab  mini color="turkise" (click)="showRecept(1)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab  right class="reco-fab info-fab" >
      <button ion-fab  mini color="darkest-blue" (click)="showInfo(1)"><ion-icon name="help"></ion-icon></button>
  </ion-fab>
<ion-card (click)="clickCard(1)">
  <ion-card-content> 
    <ion-card-title > 
      Alternative Choice
  </ion-card-title>

      <ion-item >
          <ion-label text-wrap >
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits1 && fits1[0][0].img}}">
            
            <div class="black-text">
            <p class="name">{{fits1 && fits1[0][0].name}}</p>
            <p>Calories: {{fits1 && fits1[0][0].kcal}}g, Carbs: {{fits1 && fits1[0][0].carbs}}g, Proteins: {{fits1 && fits1[0][0].proteins}}g, Fiber: {{fits1 && fits1[0][0].fiber}}g, Sugar: {{fits1 && fits1[0][0].sugars}}g,  Salt: {{fits1 && fits1[0][0].salt}}g, Sfa: {{fits1 && fits1[0][0].saturated_fatty_acids}}g </p>
            </div>
           
          </ion-label>
      </ion-item>

      <ion-item>
          <ion-label text-wrap class="black-text">
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits1 && fits1[0][1] && fits1[0][1].img}}">
            
            <div class="black-text">
            <p class="name">  {{fits1 && fits1[0][1].name}}</p>
            <p>Calories: {{fits1 && fits1[0][1].kcal}}g, Carbs: {{fits1 && fits1[0][1].carbs}}g, Proteins: {{fits1 && fits0[0][1].proteins}}g, Fiber: {{fits1 && fits0[0][1].fiber}}g, Sugar: {{fits1 && fits0[0][1].sugars}}g, Salt: {{fits1 && fits1[0][1].salt}}g, Sfa: {{fits1 && fits1[0][1].saturated_fatty_acids}}g</p>
            </div>
          
           
          </ion-label>
      </ion-item>

    <span class="hide"  [class.hide]="!(+user.mealtyp == 3)">
      <ion-item>
          
          <ion-label text-wrap>
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits1 && fits1[0][2] && fits1[0][2].img}}">
         
            <div class="black-text">
            <p class="name"> {{fits1 && fits1[0][2] && fits1[0][2].name}}</p>
            <p>Calories:{{fits1 && fits1[0][2] && fits1[0][2].kcal}}g, Carbs: {{fits1 && fits1[0][2] && fits1[0][2].carbs}}g, Proteins: {{fits1 && fits1[0][2] && fits1[0][2].proteins}}g, Fiber: {{fits1 && fits1[0][2] && fits1[0][2].fiber}}g, Sugar: {{fits1 && fits1[0][2] && fits1[0][2].sugars}}g, Salt: {{fits1 && fits1[0][2] && fits1[0][2].salt}}g, Sfa: {{fits1 && fits1[0][2] && fits1[0][2].saturated_fatty_acids}}g</p>
            </div>
             
           
          </ion-label>
      </ion-item>
    </span>
  </ion-card-content>
</ion-card>
</span>

<span  class="hide" [class.hide]="hide2">
   <ion-fab  right class="reco-fab" >
      <button ion-fab  mini color="turkise" (click)="showRecept(2)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab  right class="reco-fab info-fab" >
      <button ion-fab  mini color="darkest-blue" (click)="showInfo(2)"><ion-icon name="help"></ion-icon></button>
  </ion-fab>

<ion-card (click)="clickCard(2)">
  <ion-card-content>
    <ion-card-title > 
        Another Choice
  </ion-card-title>

      <ion-item>
          <ion-label text-wrap >
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits2 && fits2[0][0].img}}">
            
            <div class="black-text">
            <p class="name">{{fits2 && fits2[0][0].name}}</p>
            <p>Calories: {{fits2 && fits2[0][0].kcal}}g, Carbs: {{fits2 && fits2[0][0].carbs}}g, Proteins:{{fits2 && fits2[0][0].proteins}}g, Fiber: {{fits2 && fits2[0][0].fiber}}g, Sugar: {{fits2 && fits2[0][0].sugars}}g,  Salt: {{fits2 && fits2[0][0].salt}}g, Sfa: {{fits2 && fits2[0][0].saturated_fatty_acids}}g </p>
            </div>
            
            
          </ion-label>
      </ion-item>

      <ion-item>
          <ion-label text-wrap >
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits2 && fits2[0][1] && fits2[0][1].img}}">
            
             <div class="black-text">
            <p class="name">  {{fits2 && fits2[0][1].name}}</p>
            <p>Calories: {{fits2 && fits2[0][1].kcal}}g, Carbs: {{fits2 && fits2[0][1].carbs}}g, Proteins:{{fits2 && fits2[0][1].proteins}}g, Fiber:{{fits2 && fits2[0][1].fiber}}g, Sugar: {{fits2 && fits2[0][1].sugars}}g, Salt: {{fits2 && fits2[0][1].salt}}g, Sfa: {{fits2 && fits2[0][1].saturated_fatty_acids}}g</p>
            </div>
          
           
          </ion-label>
      </ion-item>

   <span class="hide"  [class.hide]="!(+user.mealtyp == 3)">
       <ion-item>
          <ion-label text-wrap>
             
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits2 && fits2[0][2] && fits2[0][2].img}}">
           
            <div class="black-text">
            <p class="name">  {{fits2 && fits2[0][2] && fits2[0][2].name}}</p>
            <p>Calories: {{fits2 && fits2[0][2] && fits2[0][2].kcal}}g, Carbs:  {{fits2 && fits2[0][2] && fits2[0][2].carbs}}g, Proteins: {{fits2 && fits2[0][2] && fits2[0][2].proteins}}g, Fiber: {{fits2 && fits2[0][2] && fits2[0][2].fiber}}g, Sugar:  {{fits2 && fits2[0][2] && fits2[0][2].sugars}}g Salt: {{fits2 && fits2[0][2] && fits2[0][2].salt}}g, Sfa: {{fits2 && fits2[0][2] && fits2[0][2].saturated_fatty_acids}}g</p>
            </div>
            
          </ion-label>
      </ion-item>
   </span>
   
  </ion-card-content>
</ion-card>
</span>

<span  class="hide" [class.hide]="hide3">
   <ion-fab  right class="reco-fab" >
      <button ion-fab  mini color="turkise" (click)="showRecept(3)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab  right class="reco-fab info-fab" >
      <button ion-fab  mini color="darkest-blue" (click)="showInfo(3)"><ion-icon name="help"></ion-icon></button>
  </ion-fab>
  
<ion-card (click)="clickCard(3)">
  <ion-card-content>
    <ion-card-title > 
        Another Choice
  </ion-card-title>

      <ion-item>
          <ion-label text-wrap >
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits3 && fits3[0][0].img}}">
            
            <div class="black-text">
            <p class="name">{{fits3 && fits3[0][0].name}}</p>
            <p>Calories: {{fits3 && fits3[0][0].kcal}}g, Carbs: {{fits3 && fits3[0][0].carbs}}g, Proteins:{{fits3 && fits3[0][0].proteins}}g, Fiber: {{fits3 && fits3[0][0].fiber}}g, Sugar: {{fits3 && fits3[0][0].sugars}}g,  Salt: {{fits3 && fits3[0][0].salt}}g, Sfa: {{fits3 && fits3[0][0].saturated_fatty_acids}}g </p>
            </div>
            
            
          </ion-label>
      </ion-item>

      <ion-item>
          <ion-label text-wrap >
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits3 && fits3[0][1] && fits3[0][1].img}}">
            
             <div class="black-text">
            <p class="name">  {{fits3 && fits3[0][1].name}}</p>
            <p>Calories: {{fits3 && fits3[0][1].kcal}}g, Carbs: {{fits3 && fits3[0][1].carbs}}g, Proteins:{{fits3 && fits3[0][1].proteins}}g, Fiber:{{fits3 && fits3[0][1].fiber}}g, Sugar: {{fits3 && fits3[0][1].sugars}}g, Salt: {{fits3 && fits3[0][1].salt}}g, Sfa: {{fits3 && fits3[0][1].saturated_fatty_acids}}g</p>
            </div>
          
           
          </ion-label>
      </ion-item>

   <span class="hide"  [class.hide]="!(+user.mealtyp == 3)">
       <ion-item>
          <ion-label text-wrap>
             
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits3 && fits3[0][2] && fits3[0][2].img}}">
           
            <div class="black-text">
            <p class="name">  {{fits3 && fits3[0][2] && fits3[0][2].name}}</p>
            <p>Calories: {{fits3 && fits3[0][2] && fits3[0][2].kcal}}g, Carbs:  {{fits3 && fits3[0][2] && fits3[0][2].carbs}}g, Proteins: {{fits3 && fits3[0][2] && fits3[0][2].proteins}}g, Fiber: {{fits3 && fits3[0][2] && fits3[0][2].fiber}}g, Sugar:  {{fits3 && fits3[0][2] && fits3[0][2].sugars}}g Salt: {{fits3 && fits3[0][2] && fits3[0][2].salt}}g, Sfa: {{fits3 && fits3[0][2] && fits3[0][2].saturated_fatty_acids}}g</p>
            </div>
            
          </ion-label>
      </ion-item>
   </span>
   
  </ion-card-content>
</ion-card>
</span>

<span  class="hide" [class.hide]="hide4">
   <ion-fab  right class="reco-fab" >
      <button ion-fab  mini color="turkise" (click)="showRecept(4)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab  right class="reco-fab info-fab" >
      <button ion-fab  mini color="darkest-blue" (click)="showInfo(4)"><ion-icon name="help"></ion-icon></button>
  </ion-fab>
  
<ion-card (click)="clickCard(4)">
  <ion-card-content>
    <ion-card-title > 
        Another Choice
  </ion-card-title>

      <ion-item>
          <ion-label text-wrap >
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits4 && fits4[0][0].img}}">
            
            <div class="black-text">
            <p class="name">{{fits4 && fits4[0][0].name}}</p>
            <p>Calories: {{fits4 && fits4[0][0].kcal}}g, Carbs: {{fits4 && fits4[0][0].carbs}}g, Proteins:{{fits4 && fits4[0][0].proteins}}g, Fiber: {{fits4 && fits4[0][0].fiber}}g, Sugar: {{fits4 && fits4[0][0].sugars}}g,  Salt: {{fits4 && fits4[0][0].salt}}g, Sfa: {{fits4 && fits4[0][0].saturated_fatty_acids}}g </p>
            </div>
            
            
          </ion-label>
      </ion-item>

      <ion-item>
          <ion-label text-wrap >
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits4 && fits4[0][1] && fits4[0][1].img}}">
            
             <div class="black-text">
            <p class="name">  {{fits4 && fits4[0][1].name}}</p>
            <p>Calories: {{fits4 && fits4[0][1].kcal}}g, Carbs: {{fits4 && fits4[0][1].carbs}}g, Proteins:{{fits4 && fits4[0][1].proteins}}g, Fiber:{{fits4 && fits4[0][1].fiber}}g, Sugar: {{fits4 && fits4[0][1].sugars}}g, Salt: {{fits4 && fits4[0][1].salt}}g, Sfa: {{fits4 && fits4[0][1].saturated_fatty_acids}}g</p>
            </div>
          
           
          </ion-label>
      </ion-item>

   <span class="hide"  [class.hide]="!(+user.mealtyp == 3)">
       <ion-item>
          <ion-label text-wrap>
             
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits4 && fits4[0][2] && fits4[0][2].img}}">
           
            <div class="black-text">
            <p class="name">  {{fits4 && fits4[0][2] && fits4[0][2].name}}</p>
            <p>Calories: {{fits4 && fits4[0][2] && fits4[0][2].kcal}}g, Carbs:  {{fits4 && fits4[0][2] && fits4[0][2].carbs}}g, Proteins: {{fits4 && fits4[0][2] && fits4[0][2].proteins}}g, Fiber: {{fits4 && fits4[0][2] && fits4[0][2].fiber}}g, Sugar:  {{fits4 && fits4[0][2] && fits4[0][2].sugars}}g Salt: {{fits4 && fits4[0][2] && fits4[0][2].salt}}g, Sfa: {{fits4 && fits4[0][2] && fits4[0][2].saturated_fatty_acids}}g</p>
            </div>
            
          </ion-label>
      </ion-item>
   </span>
   
  </ion-card-content>
</ion-card>
</span>

<span  class="hide" [class.hide]="hide5">
   <ion-fab  right class="reco-fab" >
      <button ion-fab  mini color="turkise" (click)="showRecept(5)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab  right class="reco-fab info-fab" >
      <button ion-fab  mini color="darkest-blue" (click)="showInfo(5)"><ion-icon name="help"></ion-icon></button>
  </ion-fab>
  
<ion-card (click)="clickCard(5)">
  <ion-card-content>
    <ion-card-title > 
        Another Choice
  </ion-card-title>

      <ion-item>
          <ion-label text-wrap >
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits5 && fits5[0][0].img}}">
            
            <div class="black-text">
            <p class="name">{{fits5 && fits5[0][0].name}}</p>
            <p>Calories: {{fits5 && fits5[0][0].kcal}}g, Carbs: {{fits5 && fits5[0][0].carbs}}g, Proteins:{{fits5 && fits5[0][0].proteins}}g, Fiber: {{fits5 && fits5[0][0].fiber}}g, Sugar: {{fits5 && fits5[0][0].sugars}}g,  Salt: {{fits5 && fits5[0][0].salt}}g, Sfa: {{fits5 && fits5[0][0].saturated_fatty_acids}}g </p>
            </div>
            
            
          </ion-label>
      </ion-item>

      <ion-item>
          <ion-label text-wrap >
             <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits5 && fits5[0][1] && fits5[0][1].img}}">
            
             <div class="black-text">
            <p class="name">  {{fits5 && fits5[0][1].name}}</p>
            <p>Calories: {{fits5 && fits5[0][1].kcal}}g, Carbs: {{fits5 && fits5[0][1].carbs}}g, Proteins:{{fits5 && fits5[0][1].proteins}}g, Fiber:{{fits5 && fits5[0][1].fiber}}g, Sugar: {{fits5 && fits5[0][1].sugars}}g, Salt: {{fits5 && fits5[0][1].salt}}g, Sfa: {{fits5 && fits5[0][1].saturated_fatty_acids}}g</p>
            </div>
          
           
          </ion-label>
      </ion-item>

   <span class="hide"  [class.hide]="!(+user.mealtyp == 3)">
       <ion-item>
          <ion-label text-wrap>
             
            <img style="float:left;" src="https://unibz.markas.info/images/piatti/{{fits5 && fits5[0][2] && fits5[0][2].img}}">
           
            <div class="black-text">
            <p class="name">  {{fits5 && fits5[0][2] && fits5[0][2].name}}</p>
            <p>Calories: {{fits5 && fits5[0][2] && fits5[0][2].kcal}}g, Carbs:  {{fits5 && fits5[0][2] && fits5[0][2].carbs}}g, Proteins: {{fits5 && fits5[0][2] && fits5[0][2].proteins}}g, Fiber: {{fits5 && fits5[0][2] && fits5[0][2].fiber}}g, Sugar:  {{fits5 && fits5[0][2] && fits5[0][2].sugars}}g Salt: {{fits5 && fits5[0][2] && fits5[0][2].salt}}g, Sfa: {{fits5 && fits5[0][2] && fits5[0][2].saturated_fatty_acids}}g</p>
            </div>
            
          </ion-label>
      </ion-item>
   </span>
   
  </ion-card-content>
</ion-card>
</span>

</ion-list>

</div>
   
</ion-content>
