.ios, .md {
    	.green-reco {
		    color: #00ff00;
		}
    	.red-reco {
		    color: #F00;
		}
    	.yello-reco {
		    color: #cccc00;
		}
        .black-text {
		    color: #000;
        }
    modalmenue-page {
    	.green-reco {
		    color: #00ff00;
		}
    	.red-reco {
		    color: #F00;
		}
    	.yello-reco {
		    color: #cccc00;
		}
    }

.modaldaysfreq-page {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  background: rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.5);
}


}
