<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
      {{today}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Ok</span>
        <span ion-text color="white" showWhen="android,windows">Ok</span>
<!--        <ion-icon name="md-close" showWhen="android,windows"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding class="sample-modal-page">

  <ion-list no-lines >
    <ion-item-divider color="blue">Lunch frequecies</ion-item-divider>
    <ion-item> 
      <ion-card>
        <ion-card-content>
          <canvas baseChart
                      [datasets] = 'lcDataset'
                      [labels]  = 'lcLabels'
                      [options] = 'lcOptions'
                      [colors] = 'lcColors'
                      [legend] = 'lcLegend'
                      [chartType] = 'lcType'
                      (chartHover) = 'chartHovered($event)'
                      (chartClick) = 'chartClicked($event)'
                    ></canvas>
        </ion-card-content>
      </ion-card>
     </ion-item>
  </ion-list>

  <ion-list no-lines class="hide" [class.hide]='isDinner'>
    <ion-item-divider color="blue">Dinner frequecies</ion-item-divider>
    <ion-item> 
      <ion-card>
        <ion-card-content>
          <canvas baseChart
                      [datasets] = 'lcDinDataset'
                      [labels]  = 'lcDinLabels'
                      [options] = 'lcDinOptions'
                      [colors] = 'lcDinColors'
                      [legend] = 'lcDinLegend'
                      [chartType] = 'lcDinType'
                      (chartHover) = 'chartHovered($event)'
                      (chartClick) = 'chartClicked($event)'
                    ></canvas>
        </ion-card-content>
      </ion-card>
     </ion-item>
  </ion-list>


</ion-content>
