<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
      {{today}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Ok</span>
        <span ion-text color="white" showWhen="android,windows">Ok</span>
<!--        <ion-icon name="md-close" showWhen="android,windows"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding class="sample-modal-page">
    <ion-item-group class="primi">
      <ion-item-divider color="blue">First Courses</ion-item-divider>

      <ion-item  *ngFor="let dat of first" >
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
      </ion-item>

    </ion-item-group>

    <ion-item-group class="Secondo">
      <ion-item-divider color="blue">Second Courses</ion-item-divider>

      <ion-item  *ngFor="let dat of second"  >
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
      </ion-item>

    </ion-item-group>

    <ion-item-group class="Side-dishes">
      <ion-item-divider color="blue">Side Dishes</ion-item-divider>

      <ion-item  *ngFor="let dat of side">
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
        </ion-item>
    </ion-item-group>

</ion-content>
