<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
     Recommendation Information
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Ok</span>
        <span ion-text color="white" showWhen="android,windows">Ok</span>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding >
<p>The sources used to calculate your nutritional needs are tables of the Italian Society of Human Nutrition (<strong>SINU</strong>), which identify the proper amounts of each nutrient depending on your gender, age, height, weight and level of physical activity.</p>
<p>The <strong>calorie intake </strong> should be the product of your basal metabolic rate (i.e. the energy required for the basic functions of your body) and your level of physical activity </p>
<p>The <strong>carb intake </strong>should be at least 45% and at most 60% of the calorie intake</p>
<p>The <strong>protein intake </strong>should be a certain amount of grams (depending on age) for each Kg of weight</p>
<p>The <strong>fat intake should </strong>be at least 20% and at most 35% of the calorie intake (for adults)</p>
<p>The <strong>fiber intake </strong>should be a certain amount of grams (depending on age) each 1000 calories</p>
<p>Respecting these parameters helps you avoid food-related health risks.</p>
<p>Notice that the recommendations provided are intended for healthy individuals, not for people with food-related diseases, which require a targeted diet.</p>

</ion-content>
