
<ion-slides #slider pager="true" (ionSlideDidChange)="slideChanged()" >
 
  <ion-slide>
    
    <img src="assets/icon/buddy.png"/>
    <!--  <button ion-button round outline color="white" (click)="signUp()">Sign Up</button>
    <button ion-button round outline color="white" (clock)="logIn()">Log In</button>-->
    
    <button ion-button round outline color="white" (click)="slideToNext()" >Let's Start</button> 
    <button ion-button icon-left round outline color="white" (click)="switch()" ><ion-icon name="ionitron"></ion-icon>Chatbot</button>
     </ion-slide>
  
 
  <ion-slide>
    <h3>Before we start, we should complete your profile!</h3>
    <h2>Your Name</h2>
    <ion-input #introNameInput class="clear-one" placeholder="Type name.." (change)="changeName()" [(ngModel)]="user.name"></ion-input>
  
    <h2>Your Age</h2>
    <ion-input class="clear-one"  placeholder="Age"  [(ngModel)]="user.age" (change)="changeAge()"></ion-input> 

    <button ion-button round outline color="white" class="next-button"(click) = "slideToNext()" >Next</button>
  </ion-slide>


  <ion-slide>
    <div class="margin-top-intro">
    <h1>Your Gender</h1>
    <h5>This will help us to give you more accurate recommendations</h5>
    <button value="1" class="icon-circle-large woman-icon gender-choosen" [class.gender-choosen]="isFemale" (click)="changeGender(1)">
    <ion-icon name="woman"></ion-icon>
    </button>
    <button value="2" class="icon-circle-large man-icon gender-choosen" [class.gender-choosen]="isMale" (click)="changeGender(2)">
    <ion-icon name="man" ></ion-icon>
    </button>
    </div> 
    <button ion-button round outline class="next-button" color="white" (click) = "slideToNext()" >Next</button>
  
  </ion-slide>

  <ion-slide>
    <div class="margin-top-intro-weig">
      <h2>Your Height (cm)</h2>
      <ion-input #introHeightInput class="clear-one"  placeholder="Your Height"  [(ngModel)]="user.size" (change)="changeSize()" ></ion-input>  
      <h2>Your Weight (kg)</h2>
      <ion-input  class="clear-one" placeholder="Your Weight" [(ngModel)]="user.weight" (change)="changeWeight()" ></ion-input>  
    </div> 
      <button ion-button round outline class="next-button" color="white" (click) = "slideToNext()" >Next</button>
  </ion-slide>

  <ion-slide>
     <div class="margin-top-intro">
            <h2>Your Physical Activity</h2>
            <h5> Tell us how often you are physical active.</h5>
            <button ion-button round outline color="white"  (click)="chooseActivity()">{{activities[user.activity]}}</button>
            </div>
        <button ion-button round outline color="white" class="next-button" (click) = "slideToNext()" >Next</button>

  </ion-slide>

   <ion-slide>
      <div class="margin-top-intro">
        <h2>Your Type of Breakfast</h2>
        <h5> What is your typical breakfast? Please choose what is closest for you!</h5>
        <button ion-button round outline color="white" (click)="chooseBreakfast()">{{breakfasts[user.breakfasttyp]}}</button>
      </div>
        <button ion-button round outline color="white" class="next-button" (click) = "slideToNext()" >Next</button>
      
  </ion-slide>

  <ion-slide>
    <div class="margin-top-intro-fine">
      <h2>How many Snacks do you eat?</h2>
      <h5> How many Snacks do you usualy eat during the day?</h5>
      <ion-input  #introSnacksInput class="clear-one" placeholder="How many Snacks" [(ngModel)]="user.snacks" (change)="changeSnacks()" ></ion-input>  
    </div>
      <button id="startButton-intro" ion-button round outline color="white" (click)="goToHome()">Save</button>
      
  </ion-slide>
 
</ion-slides>