.ios, .md{
    page-intro {
    
        ion-slides {
            background-color: #03a9f4;
        }

        h1{
            margin-bottom: 5rem;
            color: #fff;
        
        }
        h2,h3,h4,h5{
            margin: 2rem;
            color: #fff;
        }
        h6{
            color: #fff;
            font-size: 1.0rem;
        }
        .button-outline{
            border-color: white;
            color: white;
        }
        img{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.5rem;
            display: block;
        }
        .gender-choosen {
            color: #FFEB3B !important;
            border-color:  #FFEB3B !important;
        }

        .man-icon{
            color: white;
        }
        .woman-icon{
            color: white;
        }
        .clear-one{
            background-color: transparent;
            color: #fff;
            border: 1px solid;
            border-color: white;
            border-radius: 40px;
            margin: 10%;
            width: 60%;
            padding: 0.8rem;
            margin-left: auto;
            margin-right: auto;
            
        }
        input::-webkit-input-placeholder {
            color: white ;
            text-align: center;
        }
        input:-moz-placeholder {
            color: white ;
            text-align: center;
        }
        input:-ms-input-placeholder { /* IE10+ */
            color: white ;
            text-align: center;
        }
        .text-input{
            text-align: center;
        }
        .swiper-pagination-bullet-active {
            background: white;
        
        }
         #startButton-intro{
            bottom: 0.2rem;
        }
        .next-button{
           
        }
        .margin-top-intro{
            margin-top: -14rem;
        }
        .margin-top-intro-fine{
            margin-top: -7rem;
        }
        .margin-top-intro-weig{
            margin-top: -3rem;
        }
         
         
    } 
   

    .icon-circle, .icon-circle-large, .icon-circle-small{
  position: relative;
  display: inline-block;
  margin: -1px;
  /*padding: 16px;*/
  
  
  width: 45px; /* 60*/
	height: 45px; 
  font-size:40px; 
  
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
  
	
  
  border: 2px solid #fff;
 
  background: transparent; /*#ececec;ebebeb*/
  color: #fff;
  
  text-align:center;
  /*vertical-align: middle;*/
}

.icon-circle-large {
  width: 100px;
  height: 100px;
  font-size: 60px; /* 64, originally 60 */
  padding: 16px;
  
  
}
.icon-circle-small {
  width: 24px;
  height: 24px;
  font-size: 20px;
}


/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
   border: 1px solid white;
   background-color: transparent;
   /*color: #8a6de9;*/
}

//.icon-circle-outline i {  }
/*icon-circle-bg and icon-circle and circle-bg*/



.item-icon-circle {
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
  /* width and height can be anything, as long as they're equal */
  
  text-align:center;
  color:white;
  /* font size here wont work */

}

.item-icon-circle i {
  /*text-align:center;
  color:white;*/
   /*margin: 0px auto;
  padding: 0px;
  display:block;*/
  font-size:60px;
}

.bg-circle-alt {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
}

}

