<ion-tabs color='blue' no-lines #baseTabs selectedIndex='{{tabpos}}'>
  <ion-tab [root]="tab1Root" tabTitle="Menu" tabIcon="restaurant" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="History" tabIcon="pie" ></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Recommend" tabIcon="star" ></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Waiting Time" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
  