<ion-header no-border>
  <ion-toolbar color='blue'>
    <ion-title>
      {{chatTitle}}<span class="hide"  [class.hide]="!chat.debug"> ({{chat.aktStep}})</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="switch()">
<!--        <span ion-text color="primary" showWhen="ios">Go Chat</span>  -->
          <ion-icon name="ionitron" ></ion-icon>
          <ion-icon name="ios-arrow-forward"class="icon-margin"  ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content padding class="action-sheets-basic-page" >
  <ion-list no-lines>

    <div  *ngFor="let item of chats" >
      <div [ngSwitch]="item.bot">

        <ion-row *ngSwitchCase="true"> 
          <ion-col>
          <div class="botcard" [ngSwitch]="item.multi">
            <div *ngSwitchCase="1" class="nomargin message">
              <ion-list>
                 <span *ngFor="let t of item.text" >
                  <ion-row >
                    <span class="{{t.rclass}}">
                    <ion-icon name="disc" item-left> </ion-icon>
                    </span> 
                    {{t.t}}
                  </ion-row>
                  </span>
              </ion-list>
            </div>

            <span *ngSwitchCase="2" class="nomargin">
              <h5>{{item.head}}</h5>

                  <ion-label>
                    <canvas baseChart
                      [datasets] = 'item.dataset'
                      [labels]  = 'item.labels'
                      [options] = 'item.options'
                      [colors] = 'item.colors'
                      [legend] = 'false'
                      [chartType] = 'item.chartType'
                      (chartHover) = 'chartHovered($event)'
                      (chartClick) = 'chartClicked($event)'
                    ></canvas>
                  </ion-label>
            </span>

            <span *ngSwitchCase="3" class="nomargin">
               <h6>{{item.head}}</h6>
                  <ion-label class="label label-md" style="display:block;">
                    <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;">
                    </iframe>
                    <!--<canvas basechart="" style="display: block; height: 151px; width: 302px;"></canvas>-->
                   <div *ngFor="let t of item.text" style="font-size: 1.3rem" >
                    <span [ngSwitch]="t.c" style="text-transform: capitalize; padding: 0px !important; border-radius: 0px !important"> 
                    <span *ngSwitchCase="0" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important"><!--<span style="color: green !important;padding: 0px !important; border-radius: 0px !important">Θ</span>--> {{t.t}}</span>
                    <span *ngSwitchCase="2" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important"><!--<span style="color: red !important;padding: 0px !important; border-radius: 0px !important">Θ</span>--> {{t.t}}</span>
                    <span *ngSwitchCase="1" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important"><!--<span style="color: yellow !important;padding: 0px !important; border-radius: 0px !important">Θ</span>--> {{t.t}}</span>
                    <span *ngSwitchCase="-1" style="text-transform: capitalize;font-size: 1.5rem">{{t.t}}</span>
                    <span *ngSwitchCase="-2" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important; font-size: 1.2rem">{{t.t}}</span>
                    </span>
                    </div>

                  </ion-label>
            </span>

            <span *ngSwitchCase="0">
                {{item.text}}
            </span>
          </div>
          </ion-col>
         
        </ion-row>

        <ion-row *ngSwitchCase="false"> 
         
          <ion-col >
          <div class="usercard" [ngSwitch]="item.multi">
            <div *ngSwitchCase="1" class="nomargin">
              <ion-list>
                 <div class="message" *ngFor="let t of item.text" >
                  <ion-row >
                    <span class="{{t.rclass}}">
        
                    {{t.t}}
                    </span>
                  </ion-row>
                  </div>
              </ion-list>
            </div>

            <span *ngSwitchCase="3" class="nomargin">
               <h6>{{item.head}}</h6>
                  <ion-label class="label label-md" style="display:block;">
                    <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;">
                    </iframe>
                    <!--<canvas basechart="" style="display: block; height: 151px; width: 302px;"></canvas>-->
                   <div *ngFor="let t of item.text" style="font-size: 1.3rem" >
                    <span [ngSwitch]="t.c" style="padding: 0px !important; border-radius: 0px !important"> 
                    <span *ngSwitchCase="0" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important">{{t.t}}</span>
                    <span *ngSwitchCase="2" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important"> {{t.t}}</span>
                    <span *ngSwitchCase="1" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important"> {{t.t}}</span>
                    <span *ngSwitchCase="-1" style="text-transform: capitalize;font-size: 1.5rem">{{t.t}}</span>
                    <span *ngSwitchCase="-2" style="text-transform: capitalize;padding: 0px !important; border-radius: 0px !important; font-size: 1.2rem">{{t.t}}</span>
                    </span>
                    </div>

                  </ion-label>
            </span>


            <span *ngSwitchCase="0">
                {{item.text}}
            </span>
            </div>
          </ion-col>
        </ion-row>

      </div> 
    </div>

  </ion-list>

  <canvas #lineCanvas class="hide"></canvas>

</ion-content>
  <ion-footer class="homechat-footer" >

 <!-- 
    <ion-toolbar class="hide trans" [class.hide]="!chat.datePicker">
      <div #datePicker class="item item-icon-left" ion-datetime-picker date ng-model="today">
        <strong>{{dateValue| date: "yyyy-MM-dd"}}</strong>
      </div>
    </ion-toolbar>       
-->


    <ion-toolbar class="hide trans" [class.hide]="!chat.multiPicker">
        <ion-multi-picker #threePicker item-content  [(ngModel)]="pickVal" [multiPickerColumns]="settingsColumns" (ionChange)="pickerChanged()" (ionCancel)="pickerCancelled()"></ion-multi-picker>
    </ion-toolbar>



    <ion-toolbar class="hide trans" [class.hide]="!chat.datePicker">
      <ion-datetime #datePicker displayFormat="DDD MMM DD" [(ngModel)]="today" min="{{minday}}" max="{{maxday}}" (ionChange)="dayChanged()" (ionCancel)="dayCancelled()"></ion-datetime>
    </ion-toolbar>

    <ion-toolbar class="hide trans" [class.hide]="!chat.timePicker">
      <ion-datetime #timePicker displayFormat="HH m" [(ngModel)]="today" (ionChange)="timeChanged()" (ionCancel)="timeCancelled()"></ion-datetime>
    </ion-toolbar>

    <ion-toolbar class="hide trans" [class.hide]="!chat.inputField">
        <ion-row>
          <ion-col width-80>
      <ion-item> 
        <ion-input #inputId placeholder="{{chat.iFPlaceholder}}" type="{{chat.iFType}}" [(ngModel)]="chat.iFValue" ></ion-input>
      </ion-item>
          </ion-col>
          <ion-col width-20 class="hide" [class.hide]="!chat.skipButton">
        <button ion-button icon-rigth outline round (click)="skip()" >{{chat.skipButtonText}}</button>
          </ion-col>
        </ion-row>
    </ion-toolbar>

    <ion-toolbar class="hide trans" [class.hide]="!chat.yesNoButtons">

        <ion-row>
   <!--         <ion-col width-10></ion-col> -->
          <ion-col width-50 >
      <button ion-button icon-left outline round (click)="cont0()" class="hide" [class.hide]="!chat.yesButton">{{chat.yesButton}}</button>
          </ion-col>
          <ion-col width-50>
      <button ion-button icon-rigth outline round (click)="cont1()" class="hide" [class.hide]="!chat.noButton">{{chat.noButton}}</button>
          </ion-col>
    <!--      <ion-col width-10></ion-col> -->
        </ion-row>

       
    </ion-toolbar>

    <ion-toolbar (click)="openMenu()" class="hide trans" [class.hide]="!chat.inChat">
      <ion-title> Start a new Chat... </ion-title>
      <ion-buttons end>
      <button ion-button icon-right name="send" >
        <ion-icon name="send"></ion-icon>
      </button>
      </ion-buttons>
    </ion-toolbar>

  </ion-footer>
