
.ios{
    ion-toolbar{
        padding: 0px;

    }
    .scroll-content{
        margin-bottom: 60px;
    .icon-margin{
    margin-left: 1rem;
  }
    }
}
.md{
    .list-md{
        margin-bottom: 60px !important;
    }
    .icon-margin{
    margin-left: 1rem;
  }
    }

.action-sheets-basic-page{
     .ion-md-pizza{
        color: indianred;
    }
    .ion-md-star{
        color: gold;
    }
    .ion-md-clipboard{
        color: mediumseagreen;
    }
    .ion-md-camera{
        color: rebeccapurple;
    }
    canvas{
        width: 100% !important;
       
    }
    .testcard1 {
        background-color: #148,159,177;
        color:            #148,159,177,
    }
    .testcard2 {
        background-color: #fff;
        color:            #148,159,177,
    }

    



    .usercard {
        padding: 4px;
        text-align: right;

     span {
        background-color: #C7C7CC !important;
        color: black !important;
        
        display: inline-block !important;
       
        padding: 8px !important;
        border-radius: 10px !important;
        text-align: right !important;
        //  max-width: 60% !important;
    }
    }
    .botcard{
        span{
            background: #039BE5!important;
            display: inline-block !important;
            color: white !important;
            padding: 8px !important;
            border-radius: 10px !important;
            text-align: left !important;
            //  max-width: 60% !important;
        }
    }
    .card-md {
        margin: 0px;
        width: 100%;
        display: block;
        padding-top: 3px; 
    }
    .card-ios {
        margin: 0px;
        width: 100%;
        display: block;
        padding-top: 3px; 
    }
    .hide {
        visibility: hidden;
    }
    .trans {
        opacity: 0.5;
    }
    .nomargin{
        margin: 0px;
        height: 100% !important;
        width: 100% !important;
        color: white !important;
    }
    .card-header {
        padding: 4px;
    }
    .list {
        margin: 0px;
    }
    .item {
        padding-left: 4px;
    }
    .label {
        margin: 0px;
        white-space: normal;
    }
    .icon {
        padding-right: 4px;
    }

.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}

//This will change
.messages.other {
  .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
  }
}
}
.homechat-footer{
    ion-row{
        ion-col{
            text-align: center;
        }
    }
    .menucard {
        background-color: #FFB0B0;
        padding: 4px;
    }
    button {
        text-transform: none;
        padding: 10px;
    }
    .bar-button-md {
        text-transform: none;
    }
    .bar-button-ios {
        text-transform: none;
    }
    
}

