.ios{
	modalmenueld-page{
		ion-segment{
		background-color: white;
	}
	ion-label{
			text-transform: capitalize;
		}
}	
	
	
	
}
 .md {
    
    modalmenueld-page {
		ion-segment{
			background-color: #03a9f4 !important;
			
		}
		ion-segment-button{
			color:white !important;
		}
		ion-label{
			text-transform: capitalize;
		}
    	.green-reco {
		    color: #66BB6A;
		}
    	.red-reco {
		    color: #EF5350;
		}
    	.yello-reco {
		    color: #ffc125;
		}
        .black-text {
		    color: #000;
        }
	}
	

.sample-modal-page {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  background: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.5);
}


}
