<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
      {{today}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Ok</span>
        <span ion-text color="white" showWhen="android,windows">Ok</span>
<!--        <ion-icon name="md-close" showWhen="android,windows"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding class="sample-modal-page">
 <ion-segment [(ngModel)]="mealtime" color="blue">
      <ion-segment-button value="lunch">
        Lunch
      </ion-segment-button>
      <ion-segment-button value="dinner" class="hide" [class.hide]="showDinner">
        Dinner
      </ion-segment-button>
    </ion-segment>

  <div [ngSwitch]="mealtime">
  <ion-list  *ngSwitchCase="'lunch'">
    
    <ion-item-group class="primi">
      <ion-item-divider color="blue">First Courses</ion-item-divider>

      <ion-item  *ngFor="let dat of firstL" >
 <!--       <span class="{{dat.rec_class}}"> -->
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
 <!--       </span>   -->
      </ion-item>
    </ion-item-group>

 
    <ion-item-group class="Secondo">
      <ion-item-divider color="blue">Second Courses</ion-item-divider>

      <ion-item  *ngFor="let dat of secondL" >
 <!--       <span class="{{dat.rec_class}}"> -->
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
 <!--       </span>   -->
      </ion-item>

    </ion-item-group>

    <ion-item-group class="Side-dishes">
      <ion-item-divider color="blue">Side Dishes</ion-item-divider>

      <ion-item  *ngFor="let dat of sideL" >
 <!--       <span class="{{dat.rec_class}}"> -->
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
 <!--       </span>   -->
      </ion-item>
    </ion-item-group>

  </ion-list>


  <ion-list  *ngSwitchCase="'dinner'"  >
    <ion-item-group class="primi">
      <ion-item-divider color="blue">First Courses</ion-item-divider>

      <ion-item  *ngFor="let dat of firstD" >
 <!--       <span class="{{dat.rec_class}}"> -->
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
 <!--       </span>   -->
      </ion-item>
    </ion-item-group>

    <ion-item-group class="Secondo">
      <ion-item-divider color="blue">Second Courses</ion-item-divider>

       <ion-item  *ngFor="let dat of secondD" >
 <!--       <span class="{{dat.rec_class}}"> -->
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
 <!--       </span>   -->
      </ion-item>
    </ion-item-group>

    <ion-item-group class="Side-dishes">
      <ion-item-divider color="blue">Side Dishes</ion-item-divider>

       <ion-item  *ngFor="let dat of sideD" >
 <!--       <span class="{{dat.rec_class}}"> -->
          <ion-checkbox (ionChange)="cbChanged($event, dat)"></ion-checkbox><ion-label><img height="40" style="float:left;" src="{{dat.img}}">{{dat.name}}</ion-label>
 <!--       </span>   -->
      </ion-item>
    </ion-item-group>

  </ion-list>

  </div>
</ion-content>
