// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
//TABS
  $tabs-ios-border: none;
//  $tabs-ios-tab-padding: 0 0 5px 0;
//LIST 
  $list-ios-label-font-size: 0.5rem; 


//SEGMENT
  ion-segment{
           margin-left: auto;
           margin-right: auto;
           
       }
  $toolbar-md-active-color: #01579B;
  $toolbar-md-disactive-color: #039BE5;
  $segment-button-md-opacity-disabled: 1;
  $segment-button-md-opacity:1;
  $segment-button-md-border-bottom-width:	8px;
  $segment-button-md-text-color-activated: white;
  $segment-button-md-border-bottom-color: white;
//FAB-Button
ion-fab{
  margin: 1rem;
}

ion-title{
  padding: none; 
}
.ios{
  ion-toolbar{
    ion-buttons{
      position: absolute;
      right: 0rem;
      ion-icon{
            font-size: 3.3rem;

      }
      .icon-margin {
    margin-left: 1rem;
}
    }
  }

}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #039BE5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  blue:     #03a9f4,
  dark-blue: #039BE5,
  darkest-blue: #0277BD,
  bright-reco:     #ffc125,
  red-reco: #EF5350,
  green-reco: #66BB6A,
  visitor-red: #FF4081,
  visitor-yellow:#FFA726,
  visitor-green: #8BC34A,
  turkise: #FFEB3B,//#FF9800,//#FF5722 //
  visitor-gray: #666666,
  light-green: #64DD17
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
