page-webcam {
    .no-padding {
    padding: 0px !important;
    }

    .visitOk {
        color: #8BC34A;
    }   
    .visitNo {
        color: #666666;
    }   

    .toolbar-title{
        overflow: visible;
        
    
    }
    .toolbar-background-ios{
        background-color: #fff;
    }

    .toolbar-background-md{
        background-color: #fff;
    }
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }

ion-list{
       margin: 0px !important;
   }


 
}
