<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
      MENSA BUDDY
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="switch()">
<!--        <span ion-text color="primary" showWhen="ios">Go Chat</span>  -->
          <ion-icon name="ionitron" ></ion-icon>
          <ion-icon name="ios-arrow-forward"class="icon-margin"  ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item-divider color="dark-blue" ><div style="float: left" (click)="showDay()">{{theDay}}<ion-icon ios="ios-time-outline" md="md-time" style="padding: 0px 5px 0px 10px; color: white;"></ion-icon>{{theTime}} </div><div style="float: right"> {{theMensaOpening}}</div></ion-item-divider>
  
<ion-item>
  <div class="video-container" >
      <iframe class="hide" [class.hide]="!hideVideoMensa" src="http://pro.unibz.it/mensawebcam/" frameborder="0" width="560" height="315"></iframe>
      <ion-card class="hide" [class.hide]="hideVideoMensa">
        <ion-card-header> Mensa Cam not available </ion-card-header>
        <ion-card-content>
          The Webcam is only available between <br> 11:45 - 14:00 and only at the <br>University of Bolzano <br>and from EURAC.
        </ion-card-content>
      </ion-card>
  </div>
 </ion-item>

  <ion-item> 
  <ion-row>
      <ion-col>
        <button class="hide" [class.hide]="hideCheckInbutton" ion-button icon-left color="darkest-blue"  (click)="showCheckIn()">
          <ion-icon name="restaurant"></ion-icon><div>I go now!</div>
        </button>
      </ion-col>
      <ion-col>
        <button class="hide" [class.hide]="hideCheckInbutton" ion-button icon-left color="darkest-blue"  (click)="showCheckInTimer()">
          <ion-icon name="time"></ion-icon><div>I go later</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-item> 

    
  <ion-item-divider color="dark-blue">Average Visitors</ion-item-divider>

<ion-item>
    <ion-row class="average-list">
      <ion-col *ngFor="let item of theWeek" style="padding: 0px !important;">
       <h6>{{item}}</h6>
      </ion-col >
    </ion-row>
</ion-item>


    <ion-row>
      <ion-col *ngFor="let item of thisWeek" style="padding: 0px !important;">
         <button ion-button outline  (click)="showDay(item)" color="blue" style="padding: 8px !important;">
          <span class="{{item.color}}">{{item.day}}</span>
        </button>
      </ion-col >
    </ion-row>



    <ion-row>
      <ion-col *ngFor="let item of backOne" style="padding: 0px !important;">
         <button ion-button outline (click)="showDay(item)" color="blue" style="padding: 8px !important;">
         <span class="{{item.color}}">{{item.day}}</span>
        </button>
      </ion-col >
    </ion-row>


    <ion-row>
      <ion-col *ngFor="let item of backTwo" style="padding: 0px !important;">
         <button ion-button outline   (click)="showDay(item)" color="blue" style="padding: 8px !important;">
        <span class="{{item.color}}">{{item.day}}</span>
         </button>
      </ion-col >
    </ion-row>





</ion-list>

</ion-content>