page-home {
    .rgreen {
        color: limegreen;
    }
    .ryellow {
        color: #ffc125;;
    }
    .rred {
        color: orangered;
    }

    .nomargin .label-md{
        margin: 0px;
    }
    .card-header {
        padding: 4px;
    }
    .list {
        margin: 0px;
    }
    .item {
        padding-left: 4px;
    }
    .label {
        margin: 0px;
        white-space: normal;
    }

}
