<ion-header>
  <ion-navbar>
    <ion-title>
      <button ion-button (click)="tryDisplay()"> Bot example</button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>

    <span  *ngFor="let item of chats" >
      <span [ngSwitch]="item.bot">

        <ion-row *ngSwitchCase="true"> 
          <ion-col width-75>
          <ion-card class="botcard"  [ngSwitch]="item.multi">
            <span *ngSwitchCase="true" class="nomargin">
              <ion-card-header>{{item.head}}</ion-card-header>
              <ion-list>
                 <span  *ngFor="let t of item.text" >
                  <ion-label>
                    <span class="{{t.rclass}}">
                    <ion-icon name="disc" item-left></ion-icon>
                    </span> 
                    {{t.t}}
                  </ion-label>
                  </span>
              </ion-list>
            </span>

            <span *ngSwitchCase="false">
                {{item.text}}
            </span>
 
          </ion-card>
          </ion-col>
          <ion-col width-25></ion-col>
        </ion-row>

      </span> 
    </span>

  </ion-list>
</ion-content>
