<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
      MENSA BUDDY
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="switch()">
<!--        <span ion-text color="primary" showWhen="ios">Go Chat</span>  -->
         <ion-icon name="ionitron" ></ion-icon>
          <ion-icon name="ios-arrow-forward"class="icon-margin"  ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header color="dark-blue">Profile</ion-list-header>

    <ion-item no-lines>
      <ion-label color="blue" fixed>Your Name</ion-label>
      <ion-input placeholder="Who are you?" [(ngModel)]="user.name" (change)="onNameChange()">{{ user.name }}</ion-input>
    </ion-item>
    <ion-item hidden><ion-input hidden ></ion-input></ion-item>


  <ion-item no-lines>
      <ion-label color="blue" fixed>Gender</ion-label>
      <ion-select  placeholder="Choose" [(ngModel)]="user.gender" (ionCancel)="cancelGender()" (ionChange)="changeGender()">
        <ion-option value="1">{{genders[1]}}</ion-option>
        <ion-option value="2">{{genders[2]}}</ion-option>
      </ion-select>
    </ion-item>

  <ion-item no-lines >
    <ion-label color="blue" fixed>Age</ion-label>
    <ion-input type="number" placeholder="How old are you?" [(ngModel)]="user.age" (change)="onAgeChange()">{{ user.age }}</ion-input>
  </ion-item>
  
  <ion-item no-lines>
    <ion-label color="blue" fixed>Weight(kg)</ion-label>
    <ion-input type="number" placeholder="Type in your weight" [(ngModel)]="user.weight" (change)="onWeightChange()">{{ user.weight }}</ion-input>
  </ion-item>

  <ion-item no-lines>
    <ion-label color="blue" fixed>Height(cm)</ion-label>
    <ion-input type="number" placeholder="Type in your height" [(ngModel)]="user.size" (change)="onHeightChange()">{{ user.size }}</ion-input>
  </ion-item>
    <ion-item hidden><ion-input hidden ></ion-input></ion-item>

  <ion-item no-lines>
      <ion-label color="blue" fixed>Physical Activity</ion-label>
      <ion-select placeholder="Choose" [(ngModel)]="user.activity" (ionCancel)="cancelActivity()" (ionChange)="changeActivity()">
        <ion-option value="1">{{activities[1]}}</ion-option>
        <ion-option value="2">{{activities[2]}}</ion-option>
        <ion-option value="3">{{activities[3]}}</ion-option>
        <ion-option value="4">{{activities[4]}}</ion-option>
      </ion-select>
    </ion-item>

  <ion-item no-lines>
      <ion-label color="blue" fixed>Breakfast Type</ion-label>
      <ion-select placeholder="Choose" [(ngModel)]="user.breakfasttyp" (ionCancel)="cancelBreakfast()" (ionChange)="changeBreakfast()">
        <ion-option value="1">{{breakfasts[1]}}</ion-option>
        <ion-option value="2">{{breakfasts[2]}}</ion-option>
        <ion-option value="3">{{breakfasts[3]}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="blue" fixed>Snacks per day</ion-label>
      <ion-input type="number" placeholder="How many snacks" [(ngModel)]="user.snacks" (change)="onSnackChange()">{{ user.snacks }}</ion-input>
    </ion-item>
    <ion-item hidden><ion-input hidden ></ion-input></ion-item>

 
    <div text-center><button ion-button color="primary" (click)="saveSettings($event)">Save Settings</button></div>
 
    
  </ion-list>

  

  <ion-list no-lines>

  <ion-card >
  <ion-card-content>
    <ion-card-title>
      What are Recommendations?
      </ion-card-title>
    <p>
     Click here to find out how to improve your recommendations and get more details about our Project.
    </p>
    <div text-center>
       <button ion-button color="primary" (click)="presentInfoModal()">More Info</button>
    </div>
  </ion-card-content>
</ion-card>

  
  <span class="hide" [class.hide]="!showSurvey">
  <ion-card>
  <ion-card-content>
    <ion-card-title>
      Start Survey
      </ion-card-title>
    <p>
     After one week using this App please click here to fulfill the survey.
    </p>
    <div text-center>
    <button ion-button color="primary" (click)="presentSurveyModal()">Start Survey</button>
    </div>
  </ion-card-content>
</ion-card>
</span>

  </ion-list>
  </ion-content>

  