page-settings {
$range-ios-padding-vertical: 1px;
$range-md-padding-vertical: 1px;
$range-wp-padding-vertical: 1px;
   .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: white !important;
    box-shadow: inset 0 -1px 0 0 white !important;
    }
  ion-label{
    overflow: visible;
 }
 ion-select{
   margin-left: 5.5rem;
 }
 .text-input{
    text-align: center !important;
   
 }
  .select-ios {
    margin-left: 5.5rem !important;
}
.select-md {
    margin-left: 5.5rem !important;
}

    }

