.ios, .md {
 
    homemenu-page {
 
  /*      .scroll-content {
            background-color: map-get($colors, light);
        }*/
        span{
     		text-transform: capitalize;
    }
        
 
        ion-card-header {
            font-weight: bold;
           
        }
     
    }

    }
 
