
<ion-header no-border >

  <ion-toolbar color='blue'>
    <ion-title>
      MENSA BUDDY
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="switch()">
<!--        <span ion-text color="primary" showWhen="ios">Go Chat</span>  -->
           <ion-icon name="ionitron" ></ion-icon>
          <ion-icon name="ios-arrow-forward"class="icon-margin"  ></ion-icon>
    
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="card-background-page">
  
  <ion-fab right  >
  <button ion-fab color="turkise" (click)="addToHistoryAlert()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list no-lines >

    <ion-item-group no-lines>
      <ion-item-divider  color="dark-blue">Eaten Dishes Today</ion-item-divider>
      <ion-item  *ngFor="let dat of dishes" (click)="showEatenInfo(dat)">
       
        <span>
         <span class="black-text" >{{dat.name}}</span>  
        </span>
      </ion-item>
    </ion-item-group>

    <ion-item-divider color="dark-blue"> {{dailyHistoryHeader}}</ion-item-divider>
    <ion-item> 
      <ion-card>
        <ion-card-header>
          {{bcHeader}}
          <ion-icon name="ios-alert-outline" (click)="showInfoAlert()"></ion-icon>
        </ion-card-header>
        <ion-card-content>
            <canvas baseChart
                      [datasets] = "bcDataset"
                      [labels]  = "bcLabels"
                      [options] = 'bcOptions'
                      [colors] = 'bcColors'
                      [legend] = 'bcLegend'
                      [chartType] = 'bcType'
                      (chartHover) = 'chartHovered($event)'
                      (chartClick) = 'chartClicked($event)'
                    ></canvas>
           <!-- <p >Ideal Calories: {{idealcalories}}</p>
            <p >Calories already eaten today: {{calories}}</p>-->
        </ion-card-content>
      </ion-card>
    </ion-item>
    
      <ion-item-divider color="dark-blue"> {{weeklyHistoryHeader}}</ion-item-divider>
    <ion-item> 
      <ion-card>
        <ion-card-header>
          {{bcHeader}}
          <ion-icon  name="ios-alert-outline" (click)="showInfoAlert()"></ion-icon>
        </ion-card-header>
        <ion-card-content>
            <canvas baseChart
                      [datasets] = "bcDatasetweek"
                      [labels]  = "bcLabels"
                      [options] = 'bcOptions'
                      [colors] = 'bcColors'
                      [legend] = 'bcLegend'
                      [chartType] = 'bcTypeWeek'
                      (chartHover) = 'chartHovered($event)'
                      (chartClick) = 'chartClicked($event)'
                    ></canvas>
         <!--  <p>Ideal Calories: {{idealcaloriesweekly}}</p>
           <p>Calories already eaten: {{wKcals}}</p>-->
        </ion-card-content>
      </ion-card>
    </ion-item>

 <!--   <ion-item-divider color="dark-blue"> Average on Weekdays</ion-item-divider>
    <ion-item> 
      <ion-card>
        <ion-card-header>
          {{lcHeader}}
        </ion-card-header>
        <ion-card-content>
          <canvas baseChart
                      [datasets] = 'lcDataset'
                      [labels]  = 'lcLabels'
                      [options] = 'lcOptions'
                      [colors] = 'lcColors'
                      [legend] = 'lcLegend'
                      [chartType] = 'lcType'
                      (chartHover) = 'chartHovered($event)'
                      (chartClick) = 'chartClicked($event)'
                    ></canvas>
        </ion-card-content>
      </ion-card>
     </ion-item>-->
     
  </ion-list>
   
</ion-content>
 <ion-footer class="homechat-footer" >
    <ion-toolbar class="hide trans" [class.hide]="!showDatePicker">
      <ion-datetime #datePicker displayFormat="MMM DD, YYYY" [(ngModel)]='today'  doneText="Select menues" (ionChange)="dayChanged()" (ionCancel)="dayCancelled()"></ion-datetime>
    </ion-toolbar>
 </ion-footer>
