
.ios{
  alert-title{
      text-transform: capitalize !important;
    }
     h2{
    text-transform: capitalize;
   }
	page-menue{
		.segment-menu-date{
			width: 70%;
    		margin: 1rem auto 1rem auto;
       
		}
    
  ion-card {
    position: relative;
    text-align: center;
  }
  span{
   text-transform: capitalize;
  }
  ion-label{
    text-transform: capitalize;
    text-align: center;
  }
  .icon-margin{
    margin-left: 1rem;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
	
  .bar-button-ios{
    font-size: 2.5rem !important;
}
.toolbar-title-ios{
  font-size: 1.5rem !important;
}
  }
}
 
  


.md{
	ion-segment{
		background-color: #039BE5 !important;
	}
  .bar-button-md {
  font-size: 2.5rem !important;
}

.toolbar-title-md{
  font-size: 1.5rem !important;
}
h2{
    text-transform: capitalize;
   }
   alert-title{
      text-transform: capitalize !important;
    }
 
  page-menue{
	 ion-card {
    position: relative;
    text-align: center;
  }
  
  ion-label{
    text-transform: capitalize;
    text-align: center;
  }
  span{
   text-transform: capitalize;
  }
  .icon-margin{
    margin-left: 1rem;
  }
  
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
    }

}

	 	

