<ion-header no-border>

  <ion-toolbar color='blue'>
    <ion-title>
      MENSA BUDDY
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="switch()">
        <ion-icon name="ionitron" ></ion-icon>
          <ion-icon name="ios-arrow-forward"class="icon-margin"  ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row (swipe)="swipeIt($event)" style="background-color: #039BE5; padding-top: 1rem; padding-bottom: 1rem;">
      <ion-col width-10 style="text-align: left;">
        <ion-icon name="arrow-back"  (click)="goBack()" style="color: white; font-size: x-large;"></ion-icon>  
      </ion-col>
      <ion-col style="text-align: center; color: white; font-size: 1.7rem;" (click)="goToday()" >
        {{ today }}
      </ion-col>  
    <ion-col width-10 style="text-align: right"  (click)="goNext()">
      <ion-icon name="arrow-forward" style="color: white; font-size: x-large;"></ion-icon>  
    </ion-col>
  </ion-row>


 <ion-card class="hide" [class.hide]="!ioncard">
    <img src="assets/mensa-closed.jpg"/>
    <div class="card-title">Mensa is closed</div>
    <div class="card-subtitle">Sorry, but the Mensa is not open.</div>
  </ion-card>

<div class="hide" [class.hide]="ioncard">
<ion-row color="white" class="segment-menu-date" >
  <ion-segment [(ngModel)]="mealtime">
      <ion-segment-button value="lunch" (click)="show(0)">
        Lunch
      </ion-segment-button>
      <ion-segment-button value="dinner" class="hide" [class.hide]="hideDinner" (click)="show(1)">
        Dinner
      </ion-segment-button>
  </ion-segment>
</ion-row>


  <div [ngSwitch]="mealtime">
  <ion-list  *ngSwitchCase="'lunch'" no-lines>
    
    <ion-item-group no-lines class="primi">
      <ion-item-divider >Primo </ion-item-divider>
      <ion-item-sliding  *ngFor="let dat of firstL"  #slidingItem>

      <ion-item (click)="showRecept(dat, slidingItem)">
          <ion-label text-wrap class="black-text">
            <img height="40" style="float:left;" src="{{dat.img}}">
            {{dat.name}}
          </ion-label>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="showRecept(dat,slidingItem)">Add to History</button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group class="Secondo">
      <ion-item-divider >Secondo</ion-item-divider>

      <ion-item-sliding  *ngFor="let dat of secondL" #slidingItem>

      <ion-item (click)="showRecept(dat, slidingItem)">
          <ion-label text-wrap class="black-text">
            <img height="40" style="float:left;" src="{{dat.img}}">
            {{dat.name}}
          </ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="showRecept(dat,slidingItem)">Add to History</button>
      </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>

    <ion-item-group class="Side-dishes">
      <ion-item-divider >Side Dish</ion-item-divider>

      <ion-item-sliding  *ngFor="let dat of sideL" #slidingItem >

      <ion-item (click)="showRecept(dat, slidingItem)">
          <ion-label text-wrap class="black-text">
            <img height="40" style="float:left;" src="{{dat.img}}">
            {{dat.name}}
          </ion-label>
      </ion-item>

        <ion-item-options side="right">
        <button ion-button color="secondary" (click)="showRecept(dat,slidingItem)">Add to History</button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

  </ion-list>


  <ion-list  *ngSwitchCase="'dinner'" no-lines>
    <ion-item-group class="primi">
      <ion-item-divider >First Courses</ion-item-divider>

      <ion-item-sliding  *ngFor="let dat of firstD" #slidingItem>

        <ion-item (click)="showRecept(dat,slidingItem)">
        <ion-label text-wrap class="black-text">
            <img height="40" style="float:left;" src="{{dat.img}}">
            {{dat.name}}
          </ion-label>
             
        </ion-item>
        <ion-item-options side="right">
        <button ion-button color="secondary" (click)="showRecept(dat,slidingItem)">Add to History</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group class="Secondo">
      <ion-item-divider >Second Courses</ion-item-divider>

      <ion-item-sliding  *ngFor="let dat of secondD" #slidingItem>
        <ion-item (click)="showRecept(dat,slidingItem)">
        <ion-label text-wrap class="black-text">
            <img height="40" style="float:left;" src="{{dat.img}}">
            {{dat.name}}
          </ion-label>
        </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="showRecept(dat,slidingItem)">Add to History</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group class="Side-dishes">
      <ion-item-divider >Side Dishes</ion-item-divider>

      <ion-item-sliding  *ngFor="let dat of sideD" #slidingItem>
        <ion-item (click)="showRecept(dat,slidingItem)">
       <ion-label text-wrap class="black-text">
            <img height="40" style="float:left;" src="{{dat.img}}">
            {{dat.name}}
          </ion-label>
      </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="showRecept(dat,slidingItem)">Add to History</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

  </ion-list>
  </div>

  </div>
</ion-content>